body {
    font-family: sans-serif;
    background-color: black ;
}
header {
    display: flex;
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: white;
    padding:10px 45px 35px 45px;
    width: 400px;
    margin: 20px;
}

.article-but {
    text-decoration: none;
    background-color: green;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    display: flex;
    background-color: #FF5300;
    padding: ;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
